.projects_container {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: center;
}

.project_item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  line-height: 0;
}

.project_item:hover .project_image {
  filter: blur(6px);
}

.background_blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 0, 37, 0.726);
}

.project_heading {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: var(--h2-font-size);
  color: var(--container-color);
  width: 50%;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.534);
  padding: 0.25rem 0.5rem;
  border: 2px solid black;
  text-align: center;
  transition-property: all;
  transition-duration: 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-Box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.project_item:hover .project_heading {
  opacity: 0;
  margin-top: -150px;
}

.project_link {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  width: 60%;
  transition-property: all;
  transition-duration: 0.6s;
}

.project_item:hover .project_link {
  left: 50%;
  opacity: 1;
}

.project_link a {
  padding: 1rem;
  width: 100%;
}

.project_link a:first-child {
  margin-bottom: var(--mb-0-5);
}

.project_icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .projects_container {
    grid-template-columns: 450px;
    row-gap: 3rem;
  }

  .project_heading {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .projects_container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 350px) {
  .project_heading {
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
    padding: 0.2rem 0;
  }

  .project_link {
    width: 80%;
  }

  .project_link a {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .project_icon {
    font-size: 1.2rem;
  }
}
