.home_content {
  display: flex;
  justify-content: space-between;
  padding-top: 5.5rem;
  column-gap: 5rem;
  align-items: center;
}

.home_img {
  text-align: center;
  margin-bottom: var(--mb-1);
  order: 1;
}

.wavingIcon {
  color: rgb(247, 185, 72);
  font-size: 1.5rem;
  margin-right: 10px;
}

.home_hand {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
}

.home_title {
  font-size: 40px;
  margin-bottom: var(--mb-1);
}

.home_subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home_description {
  max-width: 500px;
  margin-bottom: var(--mb-3);
}

.home_profile_image {
  width: 170px;
}

.home_profile_image_svg {
  width: 300px;
}

@media screen and (max-width: 992px) {
  .home_title {
    font-size: 2rem;
  }

  .home_description {
    margin-bottom: var(--mb-2-5);
  }

  .home_profile_image_svg {
    width: 270px;
  }
}

@media screen and (max-width: 768px) {
  .home_content {
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 2rem;
  }
  .home_img {
    order: initial;
  }

  .home_description {
    max-width: initial;
  }
  .home_profile_image_svg {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .home_title {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 350px) {
  .home_title {
    font-size: 1.5rem;
  }
  .home_profile_image_svg {
    width: 180px;
  }
}
